<!doctype html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<!--HEAD-->
<!--REPLACED BY THYMELEAF-->
<head th:replace="fragments/head :: head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Tanulmányi Rendszer</title>
    <!--Bootstrap style-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!-- Custom styles -->
    <link href="css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>

<body>
<!--NAVBAR-->
<!--REPLACED BY THYMELEAF-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:replace="fragments/navbar :: navbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Diak Placeholder</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>


<div class="container-fluid">
    <div class="row">
        <!--SIDEBAR-->
        <!--REPLACED BY THYMELEAF-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar"
             th:replace="fragments/sidebarStudent :: sidebar('marks')">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <!--MAIN CONTENT-->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <h1>Osztályzatok</h1>

            <!--FILTERS-->
            <form action="" method="post" th:action="@{/student/marks}" th:object="${filter}">

                <div class="form-row">
                    <div class="form-group col-lg-3">
                        <label class="label label-default" for="date-start">Kezdő dátum:</label>
                        <input class="form-control datetime-local" id="date-start" th:field="*{dateStart}"
                               th:value="2018-07-22"
                               type="datetime-local">
                    </div>

                    <div class="form-group col-lg-3">
                        <label class="label label-default" for="date-end">Záró dátum:</label>
                        <input class="form-control datetime-local" id="date-end" th:field="*{dateEnd}"
                               th:value="${filter.dateEnd}"
                               type="datetime-local" value="">
                    </div>

                    <div class="form-group col-lg-1">
                        <label class="label label-default" for="marks">Érdemjegy:</label>
                        <select class="custom-select" id="marks" th:field="*{mark}">
                            <option value="-1">Minden érdemjegy</option>
                            <option value="5">Jeles</option>
                            <option value="4">Jó</option>
                            <option value="3">Közepes</option>
                            <option value="2">Elégséges</option>
                            <option value="1">Elégtelen</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-2">
                        <label class="label label-default" for="subjects">Tantárgy:</label>
                        <select class="custom-select" id="subjects" th:field="*{subjectId}">
                            <option value="-1">Minden tantárgy</option>
                            <option th:each="subject : ${subjects}" th:text="${subject.description}"
                                    th:value="${subject.id}" value="1">Tantargy
                            </option>
                        </select>
                    </div>

                    <div class="form-group col-lg-3">
                        <label class="label label-default" for="teachers">Oktató:</label>
                        <select class="custom-select" id="teachers" th:field="*{teacherId}">
                            <option value="-1">Minden oktató</option>
                            <option th:each="teacher : ${teachers}"
                                    th:text="${teacher.lastName}+ ' ' + ${teacher.firstName}"
                                    th:value="${teacher.id}" value="1">
                                Tantargy
                            </option>
                        </select>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <button class="btn btn-md btn-primary" type="submit">Szűrés</button>
                        <a class="btn btn-md btn-danger" th:href="@{/student/marks}">Szűrők törlése</a>
                    </div>
                </div>

            </form>

            <!--TABLE-->


            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th scope="col">Bejegyző oktató</th>
                    <th scope="col">Bejegyzés időpontja</th>
                    <th scope="col">Tantárgy</th>
                    <th scope="col">Érdemjegy</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mark : ${marks}">
                    <td th:text="${mark.teacher.lastName} + ' ' + ${mark.teacher.firstName}"></td>
                    <td th:text="${#temporals.format(mark.date, 'yyyy. MMMM dd. HH:mm')}"></td>
                    <td th:text="${mark.subject.description}"></td>
                    <td th:text="${mark.markName}"></td>
                </tr>
                </tbody>
            </table>

        </main>

    </div>
</div>

<!--SCRIPTS-->
<!--REPLACED BY THYMELEAF-->
<div th:replace="fragments/scripts :: scripts">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="js/dashboard.js"></script>
</div>
</body>
</html>
