<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--HEAD-->
<head th:replace="fragments/head :: head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Tanulmányi Rendszer</title>
    <!--Bootstrap style-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!-- Custom styles -->
    <link href="css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<!--END HEAD-->
<body>

<!--NAVBAR-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:replace="fragments/navbar :: navbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Diak Placeholder</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>
<!--END NAVBAR-->

<div class="container-fluid">
    <div class="row">
        <!--SIDEBAR-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar"
             th:replace="fragments/sidebarStudent :: sidebar('timetable')">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only"></span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <!--END SIDEBAR-->

        <!--MAIN CONTENT-->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">

            <h1>Órarend</h1>
            <form action="" th:action="@{/student/timetable}" th:object="${filter}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="dates" class="label label-default">Dátum:</label>
                        <select class="custom-select" id="dates" th:field="*{day}">
                            <option value="-1">Minden kurzus</option>
                            <option value="1" th:each="date : ${dates}"
                                    th:text="${#temporals.format(date, 'yyyy. MMMM dd.')}" th:value="${date}">
                                Tantargy
                            </option>
                        </select>
                    </div>


                    <div class="form-group col-md-2">
                        <label for="teachers" class="label label-default">Tanár:</label>
                        <select class="custom-select" id="teachers" th:field="*{teacherId}">
                            <option value="-1">Minden tanár</option>
                            <option value="1" th:each="teacher : ${teachers}"
                                    th:text="${teacher.lastName} + ' ' + ${teacher.firstName}" th:value="${teacher.id}">
                                Tantargy
                            </option>
                        </select>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-group col-md-1">
                        <div class="button-container">
                            <button class="btn btn-sm btn-primary mt-auto mb-1" type="submit">Szűrés</button>
                        </div>
                    </div>
                    <div class="form-group col-md-1">
                        <div class="button-container">
                            <a th:href="@{${'/student/timetable'}(show=${'all'})}"
                               class="btn btn-sm btn-danger mt-auto mb-1">Szűrők
                                törlése</a>
                        </div>
                    </div>
                </div>
            </form>
            <div th:if="${filter.day != #dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                <a th:href="@{'/student/timetable'}">Ugras a mai napra</a>
            </div>

            <table class="table table-striped mt-3">
                <thead>
                <tr>
                    <th scope="col">Tantárgy</th>
                    <th scope="col">Terem</th>
                    <th scope="col">Óraadó tanár</th>
                    <th scope="col">Óra kezdete</th>
                    <th scope="col">Óra vége</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.subject.description}"></td>
                    <td th:text="${course.classroom}"></td>
                    <td th:text="${course.teacher.lastName} + ' ' + ${course.teacher.firstName}"></td>
                    <td th:text="${#temporals.format(course.startTime, 'yyyy. MMMM dd. HH:mm')}"></td>
                    <td th:text="${#temporals.format(course.endTime, 'yyyy. MMMM dd. HH:mm')}"></td>
                </tr>
                </tbody>
            </table>

        </main>
        <!--END MAIN CONTENT-->
    </div>
</div>

<!--SCRIPTS-->
<div th:replace="fragments/scripts :: scripts">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="js/dashboard.js"></script>
</div>
<!--END SCRIPTS-->
</body>
</html>
