<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--HEAD-->
<!--REPLACED BY THYMELEAF-->
<head th:replace="fragments/head :: head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <title>Head Title</title>

    <!--Bootstrap style-->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <!-- Custom styles -->
    <link href="css/dashboard.css" rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>


<body>

<!--NAVBAR-->
<!--REPLACED BY THYMELEAF-->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow" th:replace="fragments/navbar :: navbar">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Diak Placeholder</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>


<div class="container-fluid">
    <div class="row">

        <!--SIDEBAR-->
        <!--REPLACED BY THYMELEAF-->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar"
             th:replace="fragments/sidebarTeacher :: sidebar('messages')">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Orders
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <!--MAIN CONTENT-->
        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">

            <h1>Üzenet olvasása</h1>
            <form action="" method="post">

                <div class="form-group">
                    <label for="teacher" class="label label-default">Feladó:</label>
                    <input id="teacher" class="form-control" type="text"
                           th:value="${message.teacher.lastName} + ' ' + ${message.teacher.firstName}" disabled="true">
                </div>

                <div class="form-group">
                    <label for="student" class="label label-default">Címzett:</label>
                    <input id="student" class="form-control" type="text"
                           th:value="${message.student.lastName} + ' ' + ${message.student.firstName}" disabled="true">
                </div>

                <div class="form-group">
                    <label for="title" class="label label-default">Tárgy:</label>
                    <input id="title" class="form-control" type="text" th:value="${message.messageTitle}"
                           disabled="true"/>
                </div>

                <div class="form-group">
                    <label for="message" class="label label-default">Üzenet:</label>
                    <textarea class="form-control" id="message" rows="10"
                              th:text="${message.description}" disabled="true"></textarea>
                </div>
            </form>




        </main>
    </div>
</div>

<!--SCRIPTS-->
<!--REPLACED BY THYMELEAF-->
<div th:replace="fragments/scripts :: scripts">
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="js/dashboard.js"></script>
</div>
</body>
</html>
